@model Proyecto_DentalNova.Models.CitaTratamientoViewModel.CitaTratamientoVM

@{
    ViewData["Title"] = "Editar Tratamiento de la Cita";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CitaTratamiento.Id" />
    <partial name="_CitaTratamientoFormulario" model="Model" />
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar Cambios</button>
        <a asp-action="Details" asp-controller="Cita" asp-route-id="@Model.CitaTratamiento.CitaId" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i> Cancelar
        </a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}